[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
sqlmodel = "*"
psycopg2-binary = "*"

[dev-packages]
requests = "*"
pytest = "*"
httpx = "*"
asyncpg = "*"
greenlet = "*"

[requires]
python_version = "3.12"
